.container {
   position: fixed;
   inset: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1001;
}

.srOnly {
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip: rect(0, 0, 0, 0);
   white-space: nowrap;
   border: 0;
}

.modal {
   position: relative;
   padding-bottom: 5rem;
   border-radius: 1.5rem;
   background-color: var(--bg-modal);
   z-index: 1000;
   box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 20px -10px;
   border: none;

   /* Animation */
   transition: opacity 0.2s, transform 0.2s;
   opacity: 1;
   transform: translateY(0);

   &[data-starting-style],
   &[data-ending-style] {
      opacity: 0;
      transform: translateY(30px);
   }

   @media (max-width: 850px) {
      padding-bottom: 3rem;
   }

   @media (max-height: 528px) {
      padding-bottom: 2.5rem;
   }

   &:focus-visible {
      outline: none;
   }
}

.overlay {
   position: fixed;
   inset: 0;
   background-color: rgba(0, 0, 0, 0.2);
   z-index: 100;

   /* Animation */
   transition: opacity 0.3s;
   opacity: 1;

   &[data-starting-style],
   &[data-ending-style] {
      opacity: 0;
   }
}

.close__btn {
   position: absolute;
   top: 2rem;
   right: 2rem;
   line-height: 1;
   font-size: 2.5rem;
   color: var(--text-secondary);
   background-color: var(--bg-container);
   cursor: pointer;
   padding: 1rem;
   display: flex;
   align-items: center;
   border-radius: 1rem;
   border: none;
   transition: all 0.3s;

   @media (max-width: 450px) {
      font-size: 2rem;
      top: 1.5rem;
      right: 1.5rem;
   }

   &:focus-visible {
      outline: 2px solid var(--color-primary);
      outline-offset: 2px;
   }
}
