.editor {
   height: 54.3rem;
   grid-column: 2 / 3;
   border-radius: 2rem;
   box-shadow: rgba(0, 0, 0, 0.3) 0px 20px 10px -10px;
}

.tabs {
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.tab {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 0.5rem;
   padding: 1.7rem;
   text-align: center;
   box-shadow: inset 0px 1.5px 0 0 var(--color-shadow);
   background-color: var(--bg-tertiary);
   position: relative;
   border-radius: 2rem 2rem 0 0;
}

.tab:first-child::after,
.tab:last-child::after {
   content: "";
   position: absolute;
   height: 2.5rem;
   width: 2.5rem;
   background-color: transparent;
   z-index: 100;
}

.tab:first-child.active::after {
   bottom: 0;
   right: -2.5rem;
   border-radius: 50%;
   box-shadow: -10px 10px 0 0 var(--bg-secondary);
}

.tab:last-child:not(.active)::after {
   bottom: -2.5rem;
   right: 0;
   border-top-right-radius: 50%;
   box-shadow: 0px -12px 0 0 var(--bg-tertiary);
}

.tab:last-child.active::after {
   bottom: 0;
   left: -2.5rem;
   border-radius: 50%;
   box-shadow: 10px 10px 0 0 var(--bg-secondary);
}

.tab:first-child:not(.active)::after {
   bottom: -2.5rem;
   left: 0;
   border-top-left-radius: 50%;
   box-shadow: 0px -12px 0 0 var(--bg-tertiary);
}

.tab > :first-child {
   font-size: 2rem;
}

.tab.active {
   background-color: var(--bg-secondary);
   color: var(--text-color-light);
   box-shadow: inset 0px 0px 0 0 var(--color-shadow);
}

.container {
   background-color: var(--bg-secondary);
   height: calc(100% - 8.4rem);
   padding: 2.5rem;
   border-radius: 0 0 2rem 2rem;
}

.container > div {
   display: flex;
   flex-direction: column;
   gap: 2rem;
}

.block {
   display: flex;
   flex-direction: column;
   background-color: var(--bg-tertiary);
   border-radius: 1rem;
   box-shadow: inset 0px 1.5px 0 0 var(--color-shadow);
   gap: 1.5rem;
   padding: 1.5rem 2.5rem;
}

.editor__item {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid var(--color-shadow);
   padding-bottom: 1rem;
}

.editor__item:last-child {
   border-bottom: none;
   padding-bottom: 0;
}

.editor__title {
   font-size: 1.5rem;
}

.editor__options {
   display: flex;
   align-items: center;
   gap: 0.5rem;
   text-transform: lowercase;
}

@media screen and (max-width: 1000px) {
   .editor {
      font-size: 1.4rem;
      height: 50rem;
   }

   .editor__title {
      font-size: 1.4rem;
   }

   .container {
      height: calc(100% - 8rem);
   }

   .container {
      gap: 1.8rem;
      padding: 2rem 1.8rem;
   }
}

@media screen and (max-width: 800px) {
   .editor {
      grid-column: 1 / -1;
      min-width: 40rem;
      place-self: center;
   }
}

@media screen and (max-width: 600px) {
   .editor {
      min-width: 32rem;
   }
}

@media screen and (max-height: 450px) and (max-width: 1000px) {
   .editor {
      height: 48rem;
   }

   .container {
      height: calc(100% - 6rem);
   }

   .tab {
      padding: 1.2rem;
      font-size: 1.3rem;
   }

   .tab > :first-child {
      font-size: 1.6rem;
   }
}
