@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Itim&display=swap");

.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 3rem 5rem;
   padding-top: 4rem;
   padding-bottom: 0;
   width: 80rem;
   max-height: 55rem;

   @media (max-width: 1100px) {
      width: 80vw;
   }

   @media (max-width: 850px) and (min-height: 528px) {
      width: 70vw;
      min-width: 40rem;
      padding: 3rem;
      padding-top: 4rem;
      padding-bottom: 0;
   }

   @media (max-width: 450px) {
      width: 90vw;
      min-width: 30rem;
      padding-top: 5rem;
   }

   @media (max-height: 528px) {
      padding: 2.5rem 4rem;
      width: 90vw;
   }
}

.code__container {
   width: 100%;
   height: 100%;
   font-family: "Inconsolata", monospace;

   &_text {
      font-size: 1.5rem;
      line-height: 1.5;
      overflow: hidden;
      border-radius: 0 2rem 2rem 2rem;
      color: var(--text-secondary);
      position: relative;
      background-color: var(--bg-secondary);

      @media (max-width: 450px) {
         font-size: 1.2rem;
         border-radius: 0 0 2rem 2rem;
      }

      @media (max-height: 528px) {
         max-height: 15rem;
      }

      pre {
         max-height: 40rem;
         overflow-y: auto;
         padding: 2rem;
      }
   }
}
