@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Itim&display=swap");

.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 3rem 5rem;
   padding-top: 4rem;
   padding-bottom: 0;
   width: 80rem;
   max-height: 55rem;

   @media (max-width: 1100px) {
      width: 80vw;
   }

   @media (max-width: 850px) and (min-height: 528px) {
      width: 70vw;
      min-width: 40rem;
      padding: 3rem;
      padding-top: 4rem;
      padding-bottom: 0;
   }

   @media (max-width: 450px) {
      width: 90vw;
      min-width: 30rem;
      padding-top: 5rem;
   }

   @media (max-height: 528px) {
      padding: 2.5rem 4rem;
      width: 90vw;
   }
}

.tab_switcher {
   @media (max-width: 450px) {
      width: 100%;
      display: flex;
      justify-content: space-between;
   }

   .switch {
      display: inline-block;
      transform: translateY(1rem);
      margin-bottom: 1rem;
      padding: 1rem 2rem;
      padding-bottom: 1rem;
      font-size: 1.7rem;
      font-family: "Itim", cursive;
      background-color: var(--bg-container);
      color: var(--text-secondary);
      position: relative;
      transition: all 0.3s;

      @media (max-width: 450px) {
         font-size: 1.5rem;
         width: 100%;
      }

      &:first-of-type {
         border-radius: 1.5rem 0 0 0;

         > .active {
            border-radius: 1.5rem 0 0 0;
         }
      }

      &:last-of-type {
         border-radius: 0 1.5rem 0 0;

         > .active {
            border-radius: 0 1.5rem 0 0;
         }
      }

      &.active {
         z-index: 10;
         color: var(--text-primary);
      }

      & > .active {
         background-color: var(--bg-secondary);
         position: absolute;
         bottom: 0;
         left: 0;
         height: 100%;
         width: 100%;
         z-index: -1;

         &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: var(--color-primary);
         }
      }
   }
}

.code__container {
   width: 100%;
   height: 100%;
   font-family: "Inconsolata", monospace;

   @media (max-width: 700px) {
      overflow: auto;
   }

   &_text {
      font-size: 1.5rem;
      line-height: 1.5;
      overflow: hidden;
      border-radius: 0 2rem 2rem 2rem;
      color: var(--text-secondary);
      position: relative;
      background-color: var(--bg-secondary);

      @media (max-width: 450px) {
         font-size: 1.2rem;
         border-radius: 0 0 2rem 2rem;
      }

      @media (max-height: 528px) {
         max-height: 15rem;
      }

      pre {
         max-height: 40rem;
         overflow-y: auto;
         padding: 2rem;
      }
   }
}
