@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Itim&display=swap");

.code__container {
   height: auto;
   width: auto;
   font-family: "Inconsolata", monospace;
   display: flex;
   gap: 4rem;
   justify-content: space-between;
   transition: all 0.3s;
   padding: 3rem 5rem;
   padding-top: 5rem;
   padding-bottom: 0;
   width: 100rem;
}

.container {
   width: 50%;
}

.container__title {
   display: inline-block;
   transform: translateY(1rem);
   font-size: 2rem;
   margin-bottom: 1rem;
   border-bottom: 2px solid var(--color-primary);
   padding: 1rem 2rem;
   border-radius: 1rem 1rem 0 0;
   background-color: var(--bg-secondary);
   font-family: "Itim", cursive;
}

.container__text {
   font-size: 1.5rem;
   line-height: 1.5;
   overflow-y: auto;
   border-radius: 0 2rem 2rem 2rem;
   padding: 2rem;
   color: #dcdadc;
   background-color: var(--bg-secondary);
   max-height: 40rem;
   position: relative;
}

.container__text .tab {
   margin-left: 3rem;
}

.css__code .selector {
   color: #70a982;
}

.css__code .property {
   color: #db9ef2;
}

.css__code .value {
   color: #f1c40f;
}

.html__code .tag {
   color: #e74c3c;
}

.html__code .property {
   color: #f1c40f;
}

.html__code .value {
   color: #2ecc71;
}

@media screen and (max-width: 1100px) {
   .code__container {
      width: 80vw;
      min-width: 75rem;
   }
}

@media screen and (max-width: 850px) {
   .code__container {
      flex-direction: column;
      gap: 3rem;
      width: 70vw;
      min-width: 40rem;
      padding: 3rem;
      padding-top: 4rem;
      padding-bottom: 0;
   }

   .container {
      width: 100%;
   }
}

@media screen and (max-width: 450px) {
   .code__container {
      gap: 2rem;
      width: 90vw;
      min-width: 30rem;
   }

   .container__title {
      font-size: 1.6rem;
   }

   .container__text {
      font-size: 1.2rem;
   }
}
