.copy {
   position: absolute;
   top: 1.5rem;
   right: 1.5rem;
   font-size: 2rem;
   border-radius: 1rem;
   color: var(--text-color-dark);
   background-color: var(--bg-tertiary);
   padding: 1rem;
   display: flex;
   align-items: center;
   cursor: pointer;
   transition: all 0.3s;
}

.copy:hover {
   box-shadow: 1.5px 3px 0 0 var(--color-primary);
}