.toolbar__btn {
   cursor: pointer;
   color: var(--text-color-light);
   background: var(--bg-tertiary);
   box-shadow: inset 0px 1.5px 0 0 var(--color-shadow);
   border-radius: 1.2rem;
   font-size: 2.3rem;
   display: flex;
   gap: 1rem;
   align-items: center;
   padding: 1.5rem;
   border: none;
   transition: all 0.3s ease;
}

.toolbar__btn:hover {
   background: var(--bg-hover);
}

.toolbar__btn:active > svg {
   transform: scale(0.8);
   transition: transform .3s ease;
}

.toolbar__btn.disabled {
   cursor: not-allowed;
   color: #919795;
}

.toolbar__btn.disabled:hover {
   background: var(--bg-tertiary);
}

.smo {
   display: none;
}

@media screen and (max-width: 700px) {
   .smo {
      /* smo = small screen only */
      display: flex;
   }

   .lso {
      /* lso = large screen only */
      display: none !important;
   }
}

@media screen and (max-height: 450px) {
   .toolbar__btn {
      padding: 1.3rem;
      font-size: 1.8rem;
   }
}

@media (hover: none) {
   .toolbar__btn:hover {
      background: var(--bg-tertiary);
   }
}
