.toolbar {
   display: flex;
   justify-content: flex-start;
   gap: 0.5rem;
   grid-column: 1 / -1;
   justify-self: center;
   background-color: var(--bg-secondary);
   border-radius: 1.2rem;
   padding: 0.5rem;
   position: relative;
}