.trigger {
   background: transparent;
   border: none;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0;
   color: inherit;
}

.popover__content {
   position: relative;
   font-size: 1.4rem;
   height: max-content;
   width: max-content;
   letter-spacing: 0.5px;
   padding: 1rem 1.5rem;
   border-radius: 8px;
   line-height: 1.4;
   background: var(--bg-secondary);
   color: var(--text-primary);
   box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
   z-index: 9999;

   /* Animation */
   transition:
      opacity 0.2s,
      transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
   opacity: 1;

   &[data-starting-style],
   &[data-ending-style] {
      opacity: 0;

      &[data-side="top"] {
         transform: translateY(20px);
      }
      &[data-side="bottom"] {
         transform: translateY(-20px);
      }
      &[data-side="left"] {
         transform: translateX(20px);
      }
      &[data-side="right"] {
         transform: translateX(-20px);
      }
   }

   &::after {
      content: "";
      position: absolute;
      border-style: solid;
      border-width: 0.7rem;
   }

   &[data-side="top"]::after {
      bottom: -1.3rem;
      left: 50%;
      transform: translateX(-50%);
      border-color: var(--bg-secondary) transparent transparent transparent;
      border-width: 0.7rem 0.7rem 0 0.7rem;
   }

   &[data-side="bottom"]::after {
      top: -0.7rem;
      right: 1rem;
      border-width: 0 0.7rem 0.7rem 0.7rem;
      border-color: transparent transparent var(--bg-secondary) transparent;
   }
}
