.popover {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1000;
   width: 100%;
   height: 100%;

   &__content {
      position: absolute;
      right: 0;
      font-size: 1.4rem;
      height: max-content;
      width: max-content;
      letter-spacing: .5px;
      padding: 1rem 1.5rem;
      border-radius: 8px;
      line-height: 1.4;
      background: #1c1e21;
      color: #e3e3e3;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

      &::after {
         content: "";
         position: absolute;
         top: -0.7rem;
         right: 1rem;
         border-style: solid;
         border-width: 0 1rem 1rem 1rem;
         border-color: transparent transparent #1c1e21 transparent;
      }
   }
}
