.playground {
   display: flex;
   gap: 2rem;
   height: 54.3rem;
   padding: 2rem;
   grid-column: 1 / 2;
   background-color: var(--bg-secondary);
   border-radius: 2rem;
   box-shadow: rgba(0, 0, 0, 0.3) 0px 20px 10px -10px;
   overflow: auto;
}

@media screen and (max-width: 1000px) {
   .playground {
      height: 50rem;
      padding: 1.8rem;
   }
}

@media screen and (max-width: 800px) {
   .playground {
      grid-column: 1 / -1;
      overflow: auto;
   }
}

@media screen and (max-height: 450px) and (max-width: 1000px) {
   .playground {
      height: 48rem;
   }
}
