.header {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 1rem;
   color: var(--color-primary);
   text-align: center;
   font-size: 3.8rem;
   margin: 1.5rem 0;
   grid-column: 1 / -1;
}

@media screen and (max-width: 1000px) {
   .header {
      margin-bottom: 0;
   }
}

@media screen and (max-width: 800px) {
   .header {
      font-size: 3rem;
      margin-top: 1rem;
   }
}

@media screen and (max-height: 450px) {
   .header {
      margin: 0;
      font-size: 2.5rem;
   }
}