.about {
   overflow: auto;
   height: 60rem;
   padding: 5rem;
   padding-bottom: 0;
   padding-top: 4rem;
   width: 80rem;
}

.about__content {
   margin-bottom: 2rem;
}

h2,
h3 {
   color: var(--color-primary);
}

h2 {
   font-size: 3.5rem;
}

h3 {
   margin-bottom: 0.5rem;
   font-size: 1.5rem;
   font-size: 1.7rem;
}

p {
   margin-bottom: 0.5rem;
   line-height: 2;
}

ul {
   margin-left: 3rem;
}

ol {
   margin-left: 2rem;
}

ol li {
   margin-bottom: 1rem;
}

@media screen and (max-width: 1100px) {
   .about {
      width: 75vw;
   }
}

@media screen and (max-width: 850px) {
   .about {
      padding: 3rem 4rem;
      padding-bottom: 0;
   }

   h2 {
      font-size: 3rem;
   }

   h3 {
      font-size: 1.5rem;
   }

   p {
      font-size: 1.4rem;
   }
}

@media screen and (max-width: 600px) {
   .about {
      width: 90vw;
   }
}

@media screen and (max-width: 450px) {
   .about {
      padding: 2.5rem;
   }
}