@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
   --color-primary: #55b8b3;

   --color-shadow: #4a4e51;

   --bg-primary: #161d26;
   --bg-secondary: #08090b;
   --bg-secondary-2: #101114;
   --bg-tertiary: #24292d;
   --bg-hover: #2c3236;

   --text-color-light: #e3e3e3;
   --text-color-dark: #b1b1b1;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
   font-family: "Poppins", sans-serif;
}

svg {
   pointer-events: none;
}

body {
   background-color: var(--bg-primary);
   font-size: 1.6rem;
   padding: 1.6rem;
   color: var(--text-color-dark);
   opacity: 0;
}

body.show {
   opacity: 1;
}

body #root {
   display: grid;
   grid-template-columns: 1fr 34rem;
   gap: 1.6rem;
   animation: fade-in 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
   animation-delay: 0.2s;
}


/* ############################## */
/* Ripple Styling */
/* ############################## */

.ripple {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   pointer-events: none;
   overflow: hidden;
   border-radius: 1rem;

   --top: 0;
   --left: 0;
   --color: rgba(255, 255, 255, 0.5);
   --duration: 500ms;
   --scaleSize: 20;
}

.ripple::before {
   content: "";
   display: block;
   position: absolute;
   top: var(--top);
   left: var(--left);
   overflow: hidden;
   height: 10px;
   width: 10px;
   background-color: var(--color);
   opacity: 0.3;
   border-radius: 50%;
   animation: ripple var(--duration) linear forwards;
   pointer-events: none;
}

@keyframes ripple {
   from {
      transform: scale(0);
   }

   to {
      transform: scale(var(--scaleSize));
      opacity: 0;
   }
}

/* ############################## */
/* Scrollbar Styling */
/* ############################## */

::-webkit-scrollbar {
   width: 0.5rem;
   height: 0.5rem;
   background-color: transparent;
}

::-webkit-scrollbar-track {
   background: transparent;
   border-radius: 2rem;
   margin: 2rem;
}

::-webkit-scrollbar-thumb {
   border-radius: 2rem;
   background-color: var(--color-primary);
   background-color: var(--bg-hover);
}

@keyframes fade-in {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

@media screen and (max-width: 1000px) {
   body #root {
      grid-template-columns: 1fr 30.5rem;
   }
}

@media screen and (max-height: 450px) {
   html {
      font-size: 55%;
   }

   body {
      padding: 1.2rem;
   }

   body #root {
      gap: 1.2rem;
   }
}