.tooltip__content {
   text-transform: capitalize;
   font-size: 14px;
   font-weight: 500;
   height: max-content;
   width: max-content;
   letter-spacing: 1px;
   padding: 0.5rem;
   padding-left: 1rem;
   border-radius: 8px;
   line-height: 1.4;
   background: #1c1e21;
   color: #e3e3e3;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   z-index: 99999;

   /* Animation */
   transition:
      opacity 0.2s,
      transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
   opacity: 1;
   transform: translate(0, 0);

   &[data-starting-style],
   &[data-ending-style] {
      opacity: 0;
      transition-delay: 0s;

      &[data-side="top"] {
         transform: translateY(20px);
      }
      &[data-side="bottom"] {
         transform: translateY(-20px);
      }
      &[data-side="left"] {
         transform: translateX(20px);
      }
      &[data-side="right"] {
         transform: translateX(-20px);
      }
   }
}
