.grid_section {
   transition: all 0.3s ease;
   z-index: 100;
   min-height: 5.3rem;
   position: absolute;
   width: 100%;
   height: 100%;
   padding: 1rem;

   &:hover:has(> div) {
      background: transparent;
   }

   &:hover .add_btn_content {
      opacity: 1;
      transform: scale(1);
   }

   &:hover .add_btn {
      background: rgba($color: #24292d, $alpha: 0.2);
   }

   .add_btn {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 1rem;
      transition: all 0.3s ease;
   }

   .add_btn_content {
      opacity: 0;
      padding: .8rem;
      background: var(--bg-content);
      border-radius: 3rem;
      font-size: 1.4rem;
      font-weight: 600;
      color: var(--text-secondary);
      display: flex;
      align-items: center;
      gap: 0.5rem;
      transform: scale(0.9);
      transition: all 0.3s ease;

      & svg {
         font-size: 2.5rem;
      }
   }
}

.grid_track_column,
.grid_track_row {
   position: absolute;
   z-index: 1000;
   width: 100%;
   height: 100%;
   pointer-events: none;
}

.grid_track_row {
   border-bottom: 2px dotted #333;
   border-top: 2px dotted #333;

   &[data-row="first"] {
      border-radius: 1.5rem 1.5rem 0 0;
   }

   &[data-row="last"] {
      border-radius: 0 0 1.5rem 1.5rem;
   }
}

.grid_track_column {
   border-left: 2px dotted #333;
   border-right: 2px dotted #333;

   &[data-column="first"] {
      border-radius: 1.5rem 0 0 1.5rem;
   }

   &[data-column="last"] {
      border-radius: 0 1.5rem 1.5rem 0;
   }
}