.modal {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding-bottom: 5rem;
   border-radius: 1.5rem;
   background-color: var(--bg-primary);
   z-index: 1000;
   box-shadow: var(--color-tertiary) 0px 7px 2px, #000 0px 8px 5px;
   box-shadow: rgba(0, 0, 0, 0.5) 0px 20px 30px -10px;
   border: none;
   transition: all 0.3s ease-out;
   overflow: auto;
}

.modal.large {
   min-width: 90%;
   max-height: 82%;
   padding: 5rem 5rem;
}

.modal.medium {
   min-width: 100rem;
   max-height: 70rem;
   padding: 3rem 5rem;
}

.overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.2);
   z-index: 100;
   transition: all 0.15s linear;
}

.close__btn {
   position: absolute;
   top: 2rem;
   right: 2rem;
   line-height: 1;
   font-size: 3rem;
   background: var(--bg-secondary);
   color: var(--text-color-dark);
   cursor: pointer;
   padding: .8rem;
   display: flex;
   align-items: center;
   border-radius: 1rem;
   border: none;
   transition: all 0.3s;
}

.close__btn:hover {
   box-shadow: 1.5px 3px 0 0 var(--color-primary);
}
