.select {
   position: relative;
}

.select:focus .select__options {
   display: none;
}

.select__button {
   display: flex;
   align-items: center;
   gap: 0.5rem;
   text-transform: lowercase;
   font-family: inherit;
   color: inherit;
   font-size: inherit;
   border: none;
   background: transparent;
   cursor: pointer;
}

.select__options {
   position: absolute;
   top: 100%;
   top: 4rem;
   right: -2.3rem;
   background: var(--bg-secondary);
   padding: 0.5rem;
   border-radius: 1rem;
   width: max-content;
   display: none;
   z-index: 100;
   box-shadow: rgba(0, 0, 0, .5) 0px 20px 30px -10px;
}

.select__options.active {
   display: block;
}

.select__option {
   padding: 0.5rem 2rem;
   border-radius: 0.5rem;
   cursor: pointer;
   transition: all 0.3s ease;
   margin-bottom: 0.5rem;
   position: relative;
}

.select__option:last-child {
   margin-bottom: 0;
}

.select__option:hover,
.select__option.active {
   color: var(--text-color-light);
   background-color: var(--bg-hover);
   box-shadow: inset 0px 1.5px 0 0 var(--color-shadow);
}