.tooltip {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   pointer-events: none;
}

.tooltip__content {
   color: var(--text-color-light);
   text-transform: capitalize;
   font-size: 14px;
   font-weight: 500;
   height: max-content;
   width: max-content;
   letter-spacing: 1px;
   padding: 6px 10px;
   border-radius: 8px;
   line-height: 1.4;
   background: var(--bg-secondary-2);
}

@media screen and (max-width: 450px) {
   .tooltip {
      display: none;
   }
}